<div class="row">
    <div class="col-md-6">
        <canvas id="module-canvas-{{id}}" width="{{width}}" height="{{height}}"></canvas>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3">
                Rotation
            </div>
            <div class="col-md-3" id="rotation-value-{{id}}">
                {{orientation}}
            </div>
            <div class="col-md-6" id="rotation-slider-{{id}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Length
            </div>
            <div class="col-md-3" id="length-value-{{id}}">
                {{length}}
            </div>
            <div class="col-md-6" id="length-slider-{{id}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Size
            </div>
            <div class="col-md-3" id="size-value-{{id}}">
                {{size}}
            </div>
            <div class="col-md-6" id="size-slider-{{id}}">
            </div>
        </div>
    </div>
</div>
